{{ $api := or .Site.Params.githubContributorsAPI "https://api.xuann.wang/api/github-file-contributors" }}
{{ $user := .Site.Params.githubUser }}
{{ $repo := .Site.Params.githubRepo }}
{{ $tree := .Site.Params.githubDocTree }}
{{ $path := printf "%s/%s" "content" .File.Path }}
{{ $qs := slice "user" $user "repo" $repo "tree" $tree "path" $path }}
{{ $args := (querify $qs | safeURL) }}
{{ $data := getJSON $api "?" $args}}
<div class="contributors">
    <span>{{ T "contributors" }}</span>
    {{ range $data }}
    <a
      key="id"
      href="https://github.com/{{ .username }}"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://avatars.githubusercontent.com/u/{{ .id }}?s=32"
        alt="{{ .username }}"
      />
    </a>
    {{ end }}
</div>
