.docs-content > h2[id]::before,
.docs-content > h3[id]::before,
.docs-content > h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}

.anchor {
  visibility: hidden;
  padding-left: 0.5rem;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
  text-decoration: none;
}

.card-list {
  margin-top: 2.25rem;
}

.edit-page svg {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

.tail-decoration {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }

  margin-top: 3rem;
  font-size: $font-size-base;

  .label {
    color: $link-color;
    margin-right: 0.3rem;
  }

  & > p {
    @extend #vertical-center;
  }
}

.contributors {
  @extend #vertical-center;

  img {
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.5rem;
    box-shadow: rgba(27, 31, 36, 0.15) 0px 0px 0px 1px;
    background-color: #ffffff;
  }
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.breadcrumb {
  margin-top: 2.25rem;
  font-size: $font-size-base;
}
